In [5]:
import requests
import pandas as pd
from datetime import datetime, timedelta
import time
from tqdm import tqdm

In [ ]:
# Config
api_key = 'fGS4bqJzYvYGUO3VlLEdVOVnThL82DXt'
timeframe = '15min'  # or '1min', '15min', etc.
start_date = datetime(2024, 6, 1)
end_date = datetime.now()
chunk_size_days = 5
delay = 1  # seconds between requests
symbols = ['BTCUSD', 'ETHUSD', 'EURUSD', 'USDJPY']

def fetch_data(symbol, start_date, end_date, chunk_size_days, timeframe, api_key, delay=1):
    current_start = start_date
    total_chunks = ((end_date - start_date).days // chunk_size_days) + 1
    all_data = []

    with tqdm(total=total_chunks, desc=f"Fetching {symbol}", unit="chunk") as pbar:
        while current_start <= end_date:
            current_end = min(current_start + timedelta(days=chunk_size_days - 1), end_date)
            url = (f'https://financialmodelingprep.com/api/v3/historical-chart/{timeframe}/{symbol}'
                   f'?from={current_start.strftime("%Y-%m-%d")}&to={current_end.strftime("%Y-%m-%d")}&apikey={api_key}')
            
            try:
                response = requests.get(url)
                response.raise_for_status()
                data = response.json()
                if data:
                    chunk_df = pd.DataFrame(data)
                    chunk_df = chunk_df.set_index('date')
                    chunk_df.index = pd.to_datetime(chunk_df.index)
                    all_data.append(chunk_df)
                else:
                    print(f"No data for range {current_start.date()} to {current_end.date()}.")
            except requests.exceptions.RequestException as e:
                print(f"Error fetching data for range {current_start.date()} to {current_end.date()}: {e}")
            
            current_start = current_end + timedelta(days=1)
            time.sleep(delay)
            pbar.update(1)

    if all_data:
        final_df = pd.concat(all_data).iloc[::-1]
        return final_df
    else:
        print(f"No data retrieved for {symbol}.")
        return pd.DataFrame()

# Fetch data for each symbol
symbol_data = {}
for sym in symbols:
    df = fetch_data(sym, start_date, end_date, chunk_size_days, timeframe, api_key, delay)
    symbol_data[sym] = df

Fetching BTCUSD: 100%|██████████| 61/61 [02:17<00:00,  2.25s/chunk]
Fetching ETHUSD: 100%|██████████| 61/61 [02:16<00:00,  2.24s/chunk]
Fetching EURUSD: 100%|██████████| 61/61 [02:04<00:00,  2.04s/chunk]
Fetching USDJPY:  64%|██████▍   | 39/61 [01:19<00:44,  2.03s/chunk]

Error fetching data for range 2024-12-13 to 2024-12-17: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2024-12-13&to=2024-12-17&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  66%|██████▌   | 40/61 [01:21<00:42,  2.01s/chunk]

Error fetching data for range 2024-12-18 to 2024-12-22: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2024-12-18&to=2024-12-22&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  67%|██████▋   | 41/61 [01:23<00:39,  2.00s/chunk]

Error fetching data for range 2024-12-23 to 2024-12-27: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2024-12-23&to=2024-12-27&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  69%|██████▉   | 42/61 [01:25<00:37,  1.99s/chunk]

Error fetching data for range 2024-12-28 to 2025-01-01: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2024-12-28&to=2025-01-01&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  70%|███████   | 43/61 [01:27<00:35,  1.98s/chunk]

Error fetching data for range 2025-01-02 to 2025-01-06: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-01-02&to=2025-01-06&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  72%|███████▏  | 44/61 [01:29<00:33,  1.99s/chunk]

Error fetching data for range 2025-01-07 to 2025-01-11: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-01-07&to=2025-01-11&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  74%|███████▍  | 45/61 [01:31<00:31,  2.00s/chunk]

Error fetching data for range 2025-01-12 to 2025-01-16: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-01-12&to=2025-01-16&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  75%|███████▌  | 46/61 [01:33<00:29,  1.99s/chunk]

Error fetching data for range 2025-01-17 to 2025-01-21: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-01-17&to=2025-01-21&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  77%|███████▋  | 47/61 [01:35<00:27,  1.99s/chunk]

Error fetching data for range 2025-01-22 to 2025-01-26: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-01-22&to=2025-01-26&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  79%|███████▊  | 48/61 [01:36<00:25,  1.98s/chunk]

Error fetching data for range 2025-01-27 to 2025-01-31: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-01-27&to=2025-01-31&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  80%|████████  | 49/61 [01:38<00:23,  1.98s/chunk]

Error fetching data for range 2025-02-01 to 2025-02-05: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-02-01&to=2025-02-05&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  82%|████████▏ | 50/61 [01:40<00:21,  1.98s/chunk]

Error fetching data for range 2025-02-06 to 2025-02-10: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-02-06&to=2025-02-10&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  84%|████████▎ | 51/61 [01:42<00:19,  1.98s/chunk]

Error fetching data for range 2025-02-11 to 2025-02-15: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-02-11&to=2025-02-15&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  85%|████████▌ | 52/61 [01:44<00:17,  1.97s/chunk]

Error fetching data for range 2025-02-16 to 2025-02-20: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-02-16&to=2025-02-20&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  87%|████████▋ | 53/61 [01:46<00:15,  1.97s/chunk]

Error fetching data for range 2025-02-21 to 2025-02-25: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-02-21&to=2025-02-25&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  89%|████████▊ | 54/61 [01:48<00:13,  1.96s/chunk]

Error fetching data for range 2025-02-26 to 2025-03-02: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-02-26&to=2025-03-02&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  90%|█████████ | 55/61 [01:50<00:11,  1.96s/chunk]

Error fetching data for range 2025-03-03 to 2025-03-07: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-03-03&to=2025-03-07&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  92%|█████████▏| 56/61 [01:52<00:09,  1.98s/chunk]

Error fetching data for range 2025-03-08 to 2025-03-12: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-03-08&to=2025-03-12&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  93%|█████████▎| 57/61 [01:54<00:07,  1.97s/chunk]

Error fetching data for range 2025-03-13 to 2025-03-17: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-03-13&to=2025-03-17&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  95%|█████████▌| 58/61 [01:56<00:05,  1.98s/chunk]

Error fetching data for range 2025-03-18 to 2025-03-22: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-03-18&to=2025-03-22&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  97%|█████████▋| 59/61 [01:58<00:03,  1.98s/chunk]

Error fetching data for range 2025-03-23 to 2025-03-27: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-03-23&to=2025-03-27&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY:  98%|█████████▊| 60/61 [02:00<00:01,  1.97s/chunk]

Error fetching data for range 2025-03-28 to 2025-03-31: 429 Client Error: Too Many Requests for url: https://financialmodelingprep.com/api/v3/historical-chart/15min/USDJPY?from=2025-03-28&to=2025-03-31&apikey=liILs9gDs4Cx9tv4OFEv0cWnhDPBiQJq

Fetching USDJPY: 100%|██████████| 61/61 [02:02<00:00,  2.01s/chunk]

In [10]:
symbol_data['BTCUSD']

,open,low,high,close,volume
date,,,,,
2025-03-28 00:00:00,86779.11000,86755.92188,86825.43000,86757.50781,2.261936e+06
2025-03-28 00:15:00,86753.21875,86654.51000,86753.21875,86747.01563,2.432504e+08
2025-03-28 00:30:00,86679.61000,86085.00000,86679.61000,86237.21000,5.162528e+08
2025-03-28 00:45:00,86264.03906,85935.39000,86341.74000,86277.09000,4.546615e+08
2025-03-28 01:00:00,86183.07031,86086.60938,86194.85156,86086.60938,6.767944e+08
...,...,...,...,...,...
2024-06-05 22:45:00,71168.28000,71126.45000,71219.00000,71192.80000,3.082178e+06
2024-06-05 23:00:00,71168.00000,71137.58000,71212.11000,71190.00000,2.386890e+06
2024-06-05 23:15:00,71160.93000,71154.00000,71211.00000,71166.72000,2.646562e+06
2024-06-05 23:30:00,71195.00000,71050.83000,71211.00000,71122.62000,2.936548e+06
2024-06-05 23:45:00,71123.28000,71019.07000,71145.00000,71059.46000,3.419821e+06

In [11]:
symbol_data['ETHUSD']

,open,low,high,close,volume
date,,,,,
2025-03-28 00:00:00,1999.94275,1999.81763,2003.65649,2003.65649,8.032256e+06
2025-03-28 00:15:00,2003.70715,1998.59485,2003.70715,2000.61841,1.843241e+08
2025-03-28 00:30:00,1997.92000,1982.26000,1997.92000,1985.00342,5.379967e+06
2025-03-28 00:45:00,1940.05969,1929.05286,1940.05969,1935.98987,6.306079e+08
2025-03-28 01:00:00,1937.26685,1925.21033,1937.26685,1925.53320,5.143552e+08
...,...,...,...,...,...
2024-06-05 22:45:00,3869.83000,3868.38000,3873.69000,3869.08000,1.481128e+06
2024-06-05 23:00:00,3869.07000,3867.85000,3871.73000,3870.36000,1.907044e+06
2024-06-05 23:15:00,3870.34000,3868.91000,3874.90000,3869.14000,2.136276e+06
2024-06-05 23:30:00,3869.14000,3864.11000,3871.26000,3868.51000,1.406864e+06
2024-06-05 23:45:00,3868.50000,3861.05000,3868.70000,3862.19000,1.456791e+06

In [12]:
symbol_data['EURUSD']

                        open      low     high    close  volume
date
2025-03-28 00:00:00  1.07916  1.07869  1.07928  1.07873    1048
2025-03-28 00:15:00  1.07873  1.07857  1.07898  1.07865    1123
2025-03-28 00:30:00  1.07865  1.07852  1.07910  1.07894     787
2025-03-28 00:45:00  1.07894  1.07868  1.07895  1.07881     602
2025-03-28 01:00:00  1.07881  1.07874  1.07903  1.07877     859
...                      ...      ...      ...      ...     ...
2024-06-05 22:45:00  1.08943  1.08900  1.08970  1.08916    1110
2024-06-05 23:00:00  1.08915  1.08890  1.08931  1.08928     818
2024-06-05 23:15:00  1.08929  1.08900  1.08940  1.08933     715
2024-06-05 23:30:00  1.08932  1.08890  1.08933  1.08916     746
2024-06-05 23:45:00  1.08916  1.08880  1.08920  1.08904     627

[19725 rows x 5 columns]

In [13]:
symbol_data['USDJPY']

                        open      low     high    close  volume
date
2024-12-08 17:15:00  150.006  150.005  150.014  150.014      28
2024-12-08 17:30:00  150.014  150.000  150.025  150.024     212
2024-12-08 17:45:00  150.024  149.890  150.028  149.960    1410
2024-12-08 18:00:00  149.960  149.846  150.010  149.888    1284
2024-12-08 18:15:00  149.888  149.877  149.980  149.967    1843
...                      ...      ...      ...      ...     ...
2024-06-05 22:45:00  155.534  155.463  155.657  155.648    1580
2024-06-05 23:00:00  155.647  155.620  155.686  155.652    1143
2024-06-05 23:15:00  155.652  155.526  155.672  155.539    1236
2024-06-05 23:30:00  155.538  155.529  155.665  155.564    1264
2024-06-05 23:45:00  155.568  155.561  155.615  155.564     949

[13268 rows x 5 columns]

In [15]:
api_key = 'fGS4bqJzYvYGUO3VlLEdVOVnThL82DXt'
def fetch_data(symbol, start_date, end_date, chunk_size_days, timeframe, api_key, delay=1):
    current_start = start_date
    total_chunks = ((end_date - start_date).days // chunk_size_days) + 1
    all_data = []

    with tqdm(total=total_chunks, desc=f"Fetching {symbol}", unit="chunk") as pbar:
        while current_start <= end_date:
            current_end = min(current_start + timedelta(days=chunk_size_days - 1), end_date)
            url = (f'https://financialmodelingprep.com/api/v3/historical-chart/{timeframe}/{symbol}'
                   f'?from={current_start.strftime("%Y-%m-%d")}&to={current_end.strftime("%Y-%m-%d")}&apikey={api_key}')
            
            try:
                response = requests.get(url)
                response.raise_for_status()
                data = response.json()
                if data:
                    chunk_df = pd.DataFrame(data)
                    chunk_df = chunk_df.set_index('date')
                    chunk_df.index = pd.to_datetime(chunk_df.index)
                    all_data.append(chunk_df)
                else:
                    print(f"No data for range {current_start.date()} to {current_end.date()}.")
            except requests.exceptions.RequestException as e:
                print(f"Error fetching data for range {current_start.date()} to {current_end.date()}: {e}")
            
            current_start = current_end + timedelta(days=1)
            time.sleep(delay)
            pbar.update(1)

    if all_data:
        final_df = pd.concat(all_data).iloc[::-1]
        return final_df
    else:
        print(f"No data retrieved for {symbol}.")
        return pd.DataFrame()

juyp = fetch_data('USDJPY', start_date, end_date, chunk_size_days, timeframe, api_key, delay)

Fetching USDJPY: 100%|██████████| 61/61 [02:05<00:00,  2.05s/chunk]

In [18]:
juyp[::-1].to_csv('USDJPY.csv', index=True)

In [24]:
symbol_data['BTCUSD'][::-1].reset_index().to_csv('BTCUSD.csv', index=True)
symbol_data['ETHUSD'][::-1].reset_index().to_csv('ETHUSD.csv', index=True)
symbol_data['EURUSD'][::-1].reset_index().to_csv('EURUSD.csv', index=True)

In [23]:
symbol_data['BTCUSD'][::-1].reset_index()

,date,open,low,high,close,volume
0,2024-06-05 23:45:00,71123.28000,71019.07000,71145.00000,71059.46000,3.419821e+06
1,2024-06-05 23:30:00,71195.00000,71050.83000,71211.00000,71122.62000,2.936548e+06
2,2024-06-05 23:15:00,71160.93000,71154.00000,71211.00000,71166.72000,2.646562e+06
3,2024-06-05 23:00:00,71168.00000,71137.58000,71212.11000,71190.00000,2.386890e+06
4,2024-06-05 22:45:00,71168.28000,71126.45000,71219.00000,71192.80000,3.082178e+06
...,...,...,...,...,...,...
28310,2025-03-28 01:00:00,86183.07031,86086.60938,86194.85156,86086.60938,6.767944e+08
28311,2025-03-28 00:45:00,86264.03906,85935.39000,86341.74000,86277.09000,4.546615e+08
28312,2025-03-28 00:30:00,86679.61000,86085.00000,86679.61000,86237.21000,5.162528e+08
28313,2025-03-28 00:15:00,86753.21875,86654.51000,86753.21875,86747.01563,2.432504e+08
28314,2025-03-28 00:00:00,86779.11000,86755.92188,86825.43000,86757.50781,2.261936e+06